<h1>Home</h1>
<% @posts.each do |post| %>
	<%= post.title %><br>
	<%= truncate(post.body, :length => 2) %><br>
	<%= link_to "Read more", post %>
	<%= link_to "Edit", edit_post_path(post) %>
	<%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "Are you sure ?"} %>


	<br>
<% end %>

